<div class="container-fluid">
  <h4 class="me-title">Esperamos que esto pueda ayudarte</h4>
  <app-horizontal-scroll [list]="exampleList" [cardSize]="'smallCard'"></app-horizontal-scroll>
  <h4 class="me-title">La comunidad recomienda</h4>
  <app-horizontal-scroll [list]="communityRecomendationList" [cardSize]="'mediumCard'"></app-horizontal-scroll>
  <h4 class="me-title">Porque viste tips de planificación</h4>
  <app-horizontal-scroll [list]="communityRecomendationList" [cardSize]="'mediumCard'"></app-horizontal-scroll>
</div>
