<div class="row justify-content-between pt-3 mt-2">
  <button mat-button (click)="openDialog()">
    <div class="panic-btn">
      <img class="panic-btn-img" src="../../../assets/topnavbar/panic.png">
    </div>
  </button>
  <div class="logo-wrapper">
    <img class="logo" src="../../../assets/topnavbar/logo.png">
  </div>
  <div class="menu-wrapper">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-points"
      aria-label="Example icon button with a vertical three dot icon">
      <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)=signOut()>Cerrar sesión</button>
    </mat-menu>

  </div>
</div>