@import '../../../sass/common';

.panic-btn{
  padding-left: 10px;
}
.panic-btn-img{
  width: 40px;
  height: 35px;
}
.logo{
  width: 50%;
}
.logo-wrapper{
  text-align: center;
}
.menu-wrapper{
  font-size: x-large;
  color: #C4C4C4;
  padding-right: 5%;
}
