
<div class="scrolling-wrapper">
    <!-- cards dinamicas -->
    <div class="card" *ngFor="let item of list" [ngClass]="cardSize" (click)="onCardClick()">
      <div class="card-inner-wrapper card-body" [ngStyle]="{background: 'url('+item.img+')'}">
          <!-- <div class="d-block">
            <h2 class="title card-title">
                {{ item.title }}
              </h2>
              <h2 *ngIf="item.duration" class="duration">
                <fa-icon [icon]="['far', 'clock']"></fa-icon>
                {{ item.duration }}
              </h2>
              <h2 class="date">{{ item.date }}</h2>
              <h2 class="time">{{ item.time }}</h2>
          </div>
      </div> -->
    </div>


</div>
