.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    display: inline-block;
    color: white;
    border-radius: 12px;
  }
  .card-inner-wrapper{
    height: 100%;
    width: 100%;
    background-size: cover !important;
    border-radius: 12px;
  }
}

.smallCard{
  width: 35%;
  height: 16vh;
  margin-right: 20px;
  .card-inner-wrapper{
    display: inline-flex;
    align-items: flex-end;
    padding-left: 6%;
  }
  .title{
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    word-break: break-all;
  }
  .duration{
    font-weight: 400;
    font-size: 14px;
  }
}

.mediumCard{
  width: 40%;
  height: 19vh;
  margin-right: 25px;
  .card-inner-wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    word-break: break-all;
  }
  .duration{
    font-weight: 400;
    font-size: 14px;
  }
}

.largeCard{
  width: 80%;
  height: 21vh;
  margin-right: 25px;
}
