.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    display: inline-block;
  }
}

.smallCard{
  width: 33%;
  height: 10vh;
  border-radius: 5px;
  margin-right: 20px;
  .title{
    font-size: 14px;
    text-align: left;
    font-weight: 500;
  }
  .duration{
    font-weight: 400;
    font-size: 14px;
  }
}

.mediumCard{
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin-right: 20px;
  .title{
    font-size: 14px;
    text-align: left;
    font-weight: 700;
  }
  .duration{
    font-weight: 400;
    font-size: 14px;
  }
}

