.container {
    padding: 5%;
    .btn {
        border-radius: 18px;
        margin: 1%;
        width: 145px;
    }
    .login-btn {
        background-color: #F7D6E0;
        
    }
    .register-btn {
        border: 1px solid #F2B5D4;
    }
    .next-login-btn-container {
        display: flex;
        justify-content: center;
        .next-login-btn {
            color: #ffffff;
            background-color: #7BDFF2;
        }
    }

    .form-container {
        margin-top: 10%;
        span {
            border-radius: 18px 0 0 18px;
            background-color: #ffffff;
        }
        input {
            border-radius: 18px;
            width: 290px;
            &.email {
                border-radius: 0 18px 18px 0;
                border-left: none;
                width: 240px;
            }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus, 
        input:-webkit-autofill:active  {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
    }
}