<div class="container">
  <div class="w-100 text-center mt-4">
    <img src="../../../assets/onboard/logo-small.png" class="img-logo-small mb-4" alt="...">
    <h4 class="title mt-2">¡Bienvenida!</h4>
    <h4 class="title">Crea tu cuenta</h4>
  </div>
  <div class="row justify-content-center form-container">
    <form [formGroup]="loginForm" (ngSubmit)="signInWithMail()">
      <div class="input-group mb-3">
        <label>Correo electrónico</label>
        <input type="text" class="form-control email" placeholder="tunombre@correo.com" aria-label="Username"
          aria-describedby="basic-addon1" formControlName="email" required>
      </div>
      <div class="input-group mb-3 group-password">
        <label>Contraseña</label>
        <input type="text" class="form-control group-password-input" pattern=".{6,}" title="Mínimo 6 caracteres"
          placeholder="******" aria-label="Username" aria-describedby="basic-addon1" formControlName="password"
          required>
        <div>
          <small id="emailHelp" class="form-text text-muted">Contraseña debe tener mínimo 6 carácteres</small>
        </div>

      </div>
      <div class="form-group d-flex justify-content-start mt-4">
        <input type="checkbox" class="check" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recuérdame
        </label>
      </div>
      <div class="next-register-btn-container">
        <button type="submit" class="btn btn-primary btn-lg btn-main">Continuar</button>
      </div>
    </form>
  </div>
</div>