<div class="container">
    <div class="row justify-content-md-center">
        <button type="button" class="btn login-btn">Iniciar Sesión</button>
        <button type="button" class="btn register-btn">Registrarse</button>
    </div>
    <div class="row justify-content-md-center form-container">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control email" placeholder="Ingresa tu correo" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresa tu clave">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>