@import '../../../sass/common';

.container {
    .form-container {
        margin-top: 10%;
        margin-top: 10% !important;
        width: 85%;
        margin: auto;
        .next-register-btn-container {
          display: flex;
          justify-content: center;
          margin-top: 15%;
        }
        label{
          color: $soft-gray;
          font-size: 14px;
          font-weight: 300;
          margin-top: 15px;
        }
        input {
          border-radius: 5px;
          width: 85%;
        }
        ::-webkit-input-placeholder { /* Edge */
          color: #1F2041;
          opacity: 0.25;
          font-size: 14px;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #1F2041;
          opacity: 0.25;
          font-size: 14px;
        }

        ::placeholder {
          color: #1F2041;
          opacity: 0.25;
          font-size: 14px;
        }
        #exampleCheck1 {
            width: 23px;
            height: 23px;
            margin-right: 15px;
            border: 1px solid $main-red !important;
        }
        .form-check-label {
            font-size: 14px;
            margin-top: 0px;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
    }
}

.img-logo-small{
  @include logo-small
}
.title{
  @include big-title
}
.btn-main{
  @include  btn-primary-custom;
  @include big-btn;
}

.group-password {
  display: flex;
  flex-direction: column;
  .form-control.group-password-input {
    width: 100%!important;
  }
}
