<div class="container">
  <div class="w-100 text-center mt-4">
    <img src="../../../assets/onboard/logo-small.png" class="img-logo-small mb-4" alt="...">
    <h4 class="title mt-2">¡Bienvenida!</h4>
    <h4 class="title">Crea tu cuenta</h4>
  </div>
  <div class="row justify-content-center form-container">
    <form>
      <div class="input-group mb-3">
        <label>¿Cuál es tu nombre?</label>
        <input type="text" class="form-control email" placeholder="Ingresa tu nombre" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <label>¿Qué edad tienes?</label>
        <input type="text" class="form-control email" placeholder="Ingresa tu correo" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <label>¿Cuántos hijos tienes?</label>
        <input type="password" class="form-control email" placeholder="Seleciona" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <label>¿Qué edad/es tienen tus hije/s</label>
        <input type="text" class="form-control email" placeholder="Si es más de une, sepáralos con una coma." aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <label>¿Cuál es tu correo electrónico?</label>
        <input type="text" class="form-control email" placeholder="carla@correo.com" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mb-3">
        <label>Crea una contraseña</label>
        <input type="text" class="form-control email" placeholder="*******" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
      <div class="form-group d-flex justify-content-start mt-4">
        <input type="checkbox" class="check" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Acepto los términos y condiciones del
          servicio
        </label>
      </div>
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">He leído y acepto la política de privacidad</label>
      </div> -->
      <div class="next-register-btn-container">
        <button type="button" class="btn btn-primary btn-lg btn-main">Continuar</button>
      </div>
    </form>
  </div>

</div>
