<div class="container">
    <div class="row justify-content-md-center form-container">
        <h4>Registro</h4>
    </div>
    <div class="row justify-content-md-center form-container">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control email" placeholder="Ingresa tu nombre" aria-label="Username"
                    aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control email" placeholder="Ingresa tu correo" aria-label="Username"
                    aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="password" class="form-control email" placeholder="Ingresa tu clave" aria-label="Username"
                    aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control email" placeholder="Ingresa tu edad" aria-label="Username"
                    aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control email" placeholder="Ingresa tu N° de hijes" aria-label="Username"
                    aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control email" placeholder="Ingresa la edad de tus hijes"
                    aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Acepto los términos y condiciones del
                    servicio</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">He leído y acepto la política de privacidad</label>
            </div>
            <div class="next-register-btn-container">
                <button type="submit" class="btn next-register-btn">Continuar</button>
            </div>
        </form>
    </div>

</div>