<div class="container">
    <div class="row">
        <mat-card>
            <a routerLink="/me" routerLinkActive="active-link">
                <img src="../../../assets/navbar/profile.png" alt="">
            </a>
            <a routerLink="/me" routerLinkActive="active-link">
                <img src="../../../assets/navbar/me.png" alt="">
            </a>
            <a routerLink="/me" routerLinkActive="active-link">
                <img src="../../../assets/navbar/community.png" alt="">
            </a>
        </mat-card>
    </div>
</div>