::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: skyblue!important;  /*replace with your color*/
}


.container {
    .btn {
        border-radius: 18px;
        margin: 1%;
        width: 145px;
    }
    .btns-container {
        .btn-next {
            color: #ffffff;
            background-color: #7BDFF2;
        }
        .btn-skip {
            color: #7BDFF2;
        }
        
    }
    .tags-container {
        padding-left: 3%;
    }
    .btn-tags {
        border: 1px solid #FF81AE;
    }
}