<div class="container">
    <div class="row justify-content-md-center">
        <h1>Antes de comenzar cuéntanos:</h1>
    </div>
    <div class="row justify-content-md-center">
        <h4>¿Cómo te sientes hoy?</h4>

    </div>
    <div class="row justify-content-md-center mood-container">
        <mat-slider></mat-slider>
    </div>
    <div class="row justify-content-md-center">
        <h4>¿Qué emociones sientes?</h4>

    </div>
    <div class="row justify-content-md-center tags-container">
        <div class="col-md-5 offset-md-1">
            <button class="btn btn-tags">Alegría</button>
            <button class="btn btn-tags">Sorpresa</button>
            <button class="btn btn-tags">Cansada</button>
            <button class="btn btn-tags">Enojada</button>
            <button class="btn btn-tags">Serenidad</button>
            <button class="btn btn-tags">Ansiedad</button>
            <button class="btn btn-tags">Esperanza</button>
            <button class="btn btn-tags">Triste</button>

        </div>

    </div>
    <div class="row justify-content-md-center btns-container">
        <button class="btn btn-next">Continuar</button>
    </div>
    <div class="row justify-content-md-center btns-container">
        <button class="btn btn-link btn-skip">Saltar</button>
    </div>
</div>