<div class="container">
    <div class="row justify-content-md-center">
        <h1>Antes de comenzar cuéntanos:</h1>
    </div>
    <div class="row justify-content-md-center">
        <h6>¿Cómo te sientes hoy?</h6>
        <div class="mood-container">

        </div>

    </div>
    <div class="row justify-content-md-center">
        <h6>¿Qué emociones sientes?</h6>

    </div>
    <div class="row justify-content-md-center tags-container">
        <div class="col-md-6 offset-md-1">
            <button class="btn btn-tags">Abrumada</button>
            <button class="btn btn-tags">Aburrida</button>
            <button class="btn btn-tags">Cansada</button>
            <button class="btn btn-tags">Estresada</button>
            <button class="btn btn-tags">Enojada</button>
            <button class="btn btn-tags">Triste</button>

        </div>

    </div>
    <div class="row justify-content-md-center btns-container">
        <button class="btn btn-next">Continuar</button>
    </div>
    <div class="row justify-content-md-center btns-container">
        <button class="btn btn-link btn-skip">Saltar</button>
    </div>
</div>