@import '../../../sass/common';

.title{
  @include big-title
}
.img-logo-small{
  @include logo-small
}

.labels{
  font-size: 18px;
  text-align: left;
}

.container {
    .btn {
        border-radius: 18px;
        margin: 1%;
        width: 145px;
    }
    .btns-container {
        .btn-next {
            color: #ffffff;
            background-color: $main-light-blue;
            width: 70%;
        }
        .btn-skip {
            color: $main-light-blue;
        }

    }
    .tags-container {
        padding-left: 3%;
    }
    .btn-tags {
        border: 1px solid $main-dark-pink;
        width: 50%;
        color: $main-dark-pink;
        margin-top: 3%;
    }
    .mat-slider {
     padding-top: 30px;
     padding-top: 45px;
     padding-bottom: 20px;
      width: 90%;

    }

    .caritas{
      width: 90%;
      margin-bottom: 10%;
    }

}
