<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide carrusel-container" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/onboard/example.jpg" class="img-carousel" alt="...">
        <div class="carousel-text-wraper">
          <h3>Titulo provisorio</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/onboard/example1.svg" class="img-carousel" alt="...">
        <div class="carousel-text-wraper">
          <h3>Titulo provisorio</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/onboard/example2.svg" class="img-carousel" alt="...">
        <div class="carousel-text-wraper">
          <h3>Titulo provisorio</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg btn-main">Siguiente</button>
  </div>
</div>

